<h3><%= @title %></h3>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Difficulty</th>
    <th></th>
    <th>Vegetarian</th>
    <th></th>
    <th>Freezable</th>
  </tr>
  <% for recipe in @recipes %>
    <tr>
      <td><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></td>
      <td>|</td>
      <td><%= recipe.difficulty %></td>
      <td>|</td>
      <td><%= recipe.vegetarian == 't' ? "Yes" : "No" %></td>
      <td>|</td>
      <td><%= recipe.freezable == 'f' ? "Yes" : "No" %></td>
    </tr>
  <% end %>
</table>
