<h3>If you have <%= @title %>, you can make the following:</h3>
<table class="table-list">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Difficulty</th>
    <th>Vegetarian</th>
    <th>Freezable</th>
  </tr>
  <% for recipe in @recipes %>
    <tr>
      <td><img src="<%= recipe.image %>"></td>
      <td><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></td>
      <td><%= recipe.difficulty %></td>
      <td><%= recipe.vegetarian == 't' ? "Yes" : "No" %></td>
      <td><%= recipe.freezable == 'f' ? "Yes" : "No" %></td>
    </tr>
  <% end %>
</table>
