<h3><%= @recipe.name %></h3>
<p>
  Core ingredients:
  <% for ingredient in @ingredients %>
      <li><a href="/recipes/ingredients/<%= ingredient.id %>"><%= ingredient.name %></a></li>
  <% end %>
</p>
<hr>
<table>
  <tr>
    <th>Difficulty</th>
    <th>Vegetarian</th>
    <th>Freezable</th>
  </tr>
  <tr>
    <td><%= @recipe.difficulty %></td>
    <td><%= @recipe.vegetarian == 't' ? "Yes" : "No" %></td>
    <td><%= @recipe.freezable == 'f' ? "Yes" : "No" %></td>
  </tr>
</table>

<p>
    <%= @recipe.method %>
</p>
