<h3><%= @recipe.name %></h3>
<table class="single-recipe">
  <tr>
    <td><img src="<%= @recipe.image %>">
    </td>
    <td colspan="2">Aside from the staples, you will need:
      <% for ingredient in @ingredients %>
      <li><a href="/recipes/ingredients/<%= ingredient.id %>"><%= ingredient.name %></a></li>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Difficulty: <%= @recipe.difficulty %></td>
    <td>Vegetarian: <%= @recipe.vegetarian == 't' ? "Yes" : "No" %></td>
    <td>Freezable: <%= @recipe.freezable == 'f' ? "Yes" : "No" %></td>
  </tr>
</table>

<p>
  <%= @recipe.method %>
</p>
